* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
}

h2 {
    color: rgb(52, 212, 212);
    text-decoration: underline;
}
#layout{
    background-image: url("images/mountain.png");
    background-attachment: fixed;
    background-size: 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}

section {
    color: #FFFFFF;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 60px;
    margin: 20px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    
    color: #FFFFFF;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

nav ul li a:hover {
    background-color: rgb(109, 0, 251);
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 10px auto;
    background-color: white;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
        margin: 20px;
    }

    .hamburger:hover {
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(14px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-14px) rotate(-45deg);
    }

    nav {
        background-color: rgb(51, 48, 48);
    }
    nav ul {
        display: none;
        margin: 0;
        font-size: 40px;
    }

    ul.active {
        display: flex;
        position: fixed;
        top: 6rem;
        width: 100%;
        height: 100%;
        background-color: rgb(23, 11, 34);
        flex-direction: column;
        justify-content: space-evenly;
    }

    nav ul li a {

        font-size: 60px;
    }
    nav ul li a:hover {
        background-color: transparent;
        color: rgb(109, 0, 251);
    }
}

.hero-text span {
    color: rgb(52, 212, 212);
}

.hero-space {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;

}
.hero-text {
    font-size: 40px;
    margin-bottom: 250px;
    padding: 30px;
}

.button {
    width: 200px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(109, 0, 251);
    text-align: center;
    float: left;
    margin-top: 10px;
    transition: .3s;
}

.button:hover {
    transition: .3s;
    background-color: rgb(109, 0, 251);
    padding: 15px;
}

.button a {
    text-decoration: none;
    color: white;
}

.linked {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.linked img {
    width: 80px;
    transition: all .5s;
}

.linked img:hover {
    width: 90px;
    transition: all .5s;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 140px 30px;
}

.about p {
    padding: 30px;
}

.skills {
    margin-top: 100px;
    min-height: 260px;
    padding: 30px;
}

.skills div {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    transition: .3s;
}

.skills img:hover {
    transition: .3s;
    width: 130px;
}

#projects {
    font-size: 40px;
    text-align: center;
    padding: 120px 30px;
}

.project-card {
    width: 300px;
    height: 500px;
    border: 1px solid rgb(109, 0, 251);
    margin: 40px;
    padding: 20px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card img:hover {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-align: center;
    padding: 160px 30px;
}

#contact form {
    margin-top: 100px;
    min-width: 500px;
    max-width: 800px;
}

[type="text"] {
    background: rgb(43, 42, 42);
    color: white;
    border: none;
    width: 100%;
    padding: 20px;
    margin-bottom: 8px;
}

form [type="email"] {
    background: rgb(43, 42, 42);
    color: white;
    border: none;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

form textarea {
    background: rgb(43, 42, 42);
    color: white;
    border: none;
    height: 120px;
    width: 100%;
    padding: 20px;
    margin-top: 0px;
}

form [type="submit"] {
    height: 40px;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    margin-top: 14px;
    border: 2px solid rgb(109, 0, 251);
    background-color: transparent;
    transition: .3s;
}

form [type="submit"]:hover {
    transition: .3s;
    background-color: rgb(109, 0, 251);
}